#shopform{
	display:none;
}
#clientform{
	display:none;
}
#popuplogin{
	display:none;
	position:absolute;
	width:100%;
	height:100vh;
	background-color:rgba(0,0,0,0.5);
}
#loginpopupcard{
	margin:5px auto;
	border-radius: 50px;
}
#closepopuplogin:hover{
	color:red;
}